* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  padding: 2% 5%;
  background-color: lightblue;
  display: flex;
  gap: 20px;
}

.head a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
}

.form {
  width: 50%;
  margin: 10vh auto;
}

input {
  width: 100%;
  padding: 2% 4%;
  margin-bottom: 2vh;
  font-size: 18px;
}

button {
  padding: 1% 3%;
}

table {
  width: 90%;
  margin: 2vh auto;
  border: 1px solid green;
}

a:active {
  color: red;
  font-weight: 800;
}